<div class="megafooter">
    <div class="container">


            <div class="g--third">
                <i class="fa fa-home"></i><strong>Adresse:</strong> Postboks 138<br>
                <strong>Postnr./sted:</strong> 5323 Kleppestø<br>
                <i class="fa fa-futbol-o"></i> <strong>Besøksadresse:</strong> Søre Myrane 8
            </div>

            <div class="g--third"><strong><i class="fa fa-phone"></i> Telefon:</strong> 91745451<br>
                <strong><i class="fa fa-mobile"></i> Mobiltelefon:</strong> 95137123<br>
                <strong><i class="fa fa-envelope"></i> E-postadresse:</strong> <a href="mailto:post@askoyfotballklubb.no">post@askoyfotballklubb.no</a></div>

            <div class="g--third g--last">
                <strong>Kontortid:</strong> 08.30-15.30, tirsdag fra 12 til 19.30<br>
                <strong>Åpent:</strong> Mandag, tirsdag, torsdag og fredag<br>
                <strong>Leder:</strong> Frode Fjell
            </div>


    </div>

</div>


<div class="clear"></div>

<div class="footer">
    <div class="container">
            © Askøy Fotballklubb 2014
    </div>
</div>
